APP_ENV=development
API_TOKEN=
OPF_ENABLED=false
OPF_DEVICE=cpu
OPF_MODEL_PATH=
INFERENCE_CONCURRENCY=1
INFERENCE_QUEUE_CAPACITY=2
INFERENCE_QUEUE_WAIT_SECONDS=2
MAX_TEXT_CHARS=250000
MAX_REQUEST_BYTES=1000000
DOCS_ENABLED=true

